@import "./header";
@import "./variable";

*{
  margin: 0;
  padding: 0;
}



img {
  width: 100%;
}


@mixin flexStart($justification, $bgcolor) {
  display: flex;
  justify-content: $justification;
  background-color: $bgcolor;
}

.imgStart {
  @include flexStart(space-between, var(--globalColor));
  img {
    width: 500px;
    height: 500px;
  }
  p {
    font-size: $size;
    &:hover {
      font-size: var(--headingSize);
    }
  }
}
