@import "./header";
@import "./variable";

img {
  width: 100%;
}

h3 {
  font-size: $size;
  background-color: var(--oshodi);
  color: $primary;
}

p {
  font-size: var(--headingSize);
  background-color: $primary;
  color: var(--oshodi);
}

@mixin flexStart($justification, $bgcolor) {
  display: flex;
  justify-content: $justification;
  background-color: $bgcolor;
}

.imgStart {
  @include flexStart(space-between, var(--globalColor));
  img {
    width: 500px;
    height: 500px;
  }
  p {
    font-size: $size;
    &:hover {
      font-size: var(--headingSize);
    }
  }
}
